
aside {
    position: fixed;
    background-color: #465779;
    background-size: auto;
    position: absolute;
    top: 50px;
    left: 0px;
}

aside ul {
    margin-top: 0px;
    position: relative;
    right: 30px;
    font-family: titleB;
    color:#ffffff
}



aside li {
    position: relative;
    left: 35px;
    margin-top: 2px;
    font-family: titleN;
}

aside details {
    margin-top: 30px;
}
